<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067476887874-8hgohj698407d09jevbco5qp6j60oaso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067476887874-8hgohj698407d09jevbco5qp6j60oaso</string>
	<key>API_KEY</key>
	<string>AIzaSyD4z0ugeyTMsvbS6r6XP0BKiebGnd2Sebo</string>
	<key>GCM_SENDER_ID</key>
	<string>1067476887874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rack.today</string>
	<key>PROJECT_ID</key>
	<string>rack-today</string>
	<key>STORAGE_BUCKET</key>
	<string>rack-today.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067476887874:ios:f4889921b348b78a</string>
	<key>DATABASE_URL</key>
	<string>https://rack-today.firebaseio.com</string>
</dict>
</plist>